@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*
{
    border: solid 1px black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    background: linear-gradient(to bottom, #667eea, #462765);
    color: #212121;
    line-height: 1.5;
}

header
{
    text-align: center;
    padding: 20px;
    background-color: #313131;
    color: white;
    
}

header h1
{
    font-weight: 600;
}

.pokemon-id-name
{
    font-weight: 500;
}

.container
{
    background: linear-gradient(to bottom right, white, #f5f5f5);
    /* Neumorphism */
    border-radius: 15px;
    box-shadow: 
        5px 5px 10px #bebebe ,
        -5px -5px 10px white;

}

.container:hover
{
    transform: scale(1.05);
    box-shadow: 
        8px 8px 15px #bebebe, 
        -8px -8px 15px white;
        background: linear-gradient(to bottom right, #f0f0f0, #e0e0e0);
}

.navigation-bar
{
    background: rgba(220, 220, 220, 0.6);
}

#searchInput {
    border-radius: 20px;
    padding: 10px 20px;
    border: none
}

#searchButton
{
    background-color: #00FFFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}