@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: skyblue;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh; 
}

header {
    font-weight: 900;
    width: 100%;
    background: blueviolet;
    color: white;
    padding: 20px 0;
    box-shadow: 0 35px 68px 0 rgba(whitesmoke, 0.5);
}

header h1 {
    font-size: 24pt;
    width: 80%;
    margin: 20px auto; 
}

header p {
    font-size: 16pt;
    font-weight: normal;
    width: 80%;
    margin: 20px auto;
    color: whitesmoke;
}

nav ul {
    width: 80%;
    margin: 20px auto; 
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

.button {
    width: 500px;
    margin: 0 25px 0;
    justify-content: space-between;
}

.button button, .button a {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
}