body {
    margin: 0;
    padding: 0;
    background: #191519; 
    font-family: sans-serif; 
}

.clock {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 25px solid blueviolet;
    border-radius: 50%; 
    background: white;
    box-shadow: 
        -2px 2px 0 blueviolet,
        inset 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Clock Hands */
.hour, .minute, .second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0%;
    transform: rotate(-90deg); /* Default transform, overridden by JS */
    background-color: #262626;
    border-radius: 10px;
}

.hour {
    width: 20%;
    height: 10px;
}

.minute {
    width: 30%;
    height: 10px;
}

.second {
    width: 34%;
    height: 6px;
    background-color: blue;
}

/* Center Dot */
.center-dot { 
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: blueviolet;
    border-radius: 50%;
    z-index: 1; 
}

/* Animations */
@keyframes spin-seconds {
    0% {
        transform: rotate(-90deg); 
    }
    100% {
        transform: rotate(270deg); 
    }
}

@keyframes spin-minutes {
    0% {
        transform: rotate(-90deg); 
    }
    100% {
        transform: rotate(270deg); 
    }
}

@keyframes spin-hours {
    0% {
        transform: rotate(-90deg); 
    }
    100% {
        transform: rotate(270deg); 
    }
}
