body {
    margin: 0;
    border: 0;
    background: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif; /* Use the imported Google font */
}

.container {
    background: linear-gradient(to right, #ebcceb, #db96db);
    width: 95%;
    height: 50%;
    min-height: 400px;
    max-width: 700px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    background: white; 
    width: 80%;
    height: 90%;
    min-height: 250px;
    max-width: 500px; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.card-content {
    display: flex;  
    align-items: flex-start;
}

.profile-picture {
    width: 150px; 
    height: 150px;
    border-radius: 50%; /* Make the picture circular */
    margin-right: 20px;
    margin-left: 40px; 
}

.text-content {
    display: inline-block;

    font-size: 14px;
    color: gray;
    text-align: left; 
}

.name {
    color: #212121;
    margin: 0; 
}

.personal-details {
    font-size: 0.9em; 
    color: #555; 
}

button{
    color: white;
    background-color: whitesmoke;
    border: solid lightblue 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;   
}