@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background: greenyellow;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-size: 12pt;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 100px;
    border: 4px;
    border-color: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(50,50,50, 0.2);
}

#back-button {
    align-items: flex-start;
    background: whitesmoke;
    color: brown;
    position: fixed;
    margin: 50px 20px auto;
    margin: 0px 15px;
}

.submit-button {
    color: blue;
    background: aliceblue; 
}


header {
    width: 800px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

header > h1, header > p, header > img {
    border: 1px black solid;
    margin: 25px;
}

.header-text {
    display: block;
    margin: 25px;
}

h1 {
    font-weight: 900;
    width: 400px;
    font-size: 28pt;
}

header > p {
    width: 400px;
    display: block;
}

header > img {
    width: 200px;
    display: flex;
}

.box {
    background: white;
    max-width: 800px;
    margin: 25px  auto;
    border: 20px none;
    /* border-radius: 5px; */
    padding: 35px;
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.07), 
        0 2px 4px rgba(0, 0, 0, 0.07), 
        0 4px 8px rgba(0, 0, 0, 0.07), 
        0 8px 16px rgba(0, 0, 0, 0.07), 
        0 16px 32px rgba(0, 0, 0, 0.07), 
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.comment {
    color: gray;
}

q {
    text-align: right;
    text-indent: 3em hanging;

}

.text-with-code code {
    background: rgba(20, 50, 20, 0.15);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 2px;
}

ol>li, ul>li {
    line-break: auto;
    margin-bottom: 10px;
}

.demo-window {
    color: rgb(240, 248, 255);
    display: block;
    padding: 10px;
    background-color: skyblue;
    margin: 10px;
    text-align: center;
}

.demo-display {
    width: 400px;
    color: black;
    background: whitesmoke;
}

.demo-display img {
    border: 200px;
}

.demo-window input {
    max-width: 500px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 10px;
}